<%- include ../layouts/header.ejs %>
<div class='col-md-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Báo cáo lượng điện tiêu thụ
	</div>
	<div class='panel-body'>
	<div align='center'>
		<form class='form-inline' method="GET" action='/admin/thongke-1'>
			<label for="sltTimKiemThang">Chọn tháng</label>
			<select class="form-control" name='sltTimKiemThang'>
				<option value='' <%if(curr_tk_thang == ''){%> selected<% }%>>-- Tất cả --</option>
				<option value='1' <%if(curr_tk_thang == '1'){%> selected<% }%>>1</option>
				<option value='2' <%if(curr_tk_thang == '2'){%> selected<% }%>>2</option>
				<option value='3' <%if(curr_tk_thang == '3'){%> selected<% }%>>3</option>
				<option value='4' <%if(curr_tk_thang == '4'){%> selected<% }%>>4</option>
				<option value='5' <%if(curr_tk_thang == '5'){%> selected<% }%>>5</option>
				<option value='6' <%if(curr_tk_thang == '6'){%> selected<% }%>>6</option>
				<option value='7' <%if(curr_tk_thang == '7'){%> selected<% }%>>7</option>
				<option value='8' <%if(curr_tk_thang == '8'){%> selected<% }%>>8</option>
				<option value='9' <%if(curr_tk_thang == '9'){%> selected<% }%>>9</option>
				<option value='10' <%if(curr_tk_thang == '10'){%> selected<% }%>>10</option>
				<option value='11' <%if(curr_tk_thang == '11'){%> selected<% }%>>11</option>
				<option value='12' <%if(curr_tk_thang == '12'){%> selected<% }%>>12</option>
			</select>
			&nbsp;&nbsp;&nbsp;
			<label for="sltTimKiemNam">Chọn năm</label>
			<select class="form-control" name='sltTimKiemNam'>
				<option value='' <%if(curr_tk_nam == ''){%> selected<% }%>>-- Tất cả --</option>
				<option value='2010' <%if(curr_tk_nam == '2010'){%> selected<% }%>>2010</option>
				<option value='2011' <%if(curr_tk_nam == '2011'){%> selected<% }%>>2011</option>
				<option value='2012' <%if(curr_tk_nam == '2012'){%> selected<% }%>>2012</option>
				<option value='2013' <%if(curr_tk_nam == '2013'){%> selected<% }%>>2013</option>
				<option value='2014' <%if(curr_tk_nam == '2014'){%> selected<% }%>>2014</option>
				<option value='2015' <%if(curr_tk_nam == '2015'){%> selected<% }%>>2015</option>
				<option value='2016' <%if(curr_tk_nam == '2016'){%> selected<% }%>>2016</option>
				<option value='2017' <%if(curr_tk_nam == '2017'){%> selected<% }%>>2017</option>
				<option value='2018' <%if(curr_tk_nam == '2018'){%> selected<% }%>>2018</option>
				<option value='2019' <%if(curr_tk_nam == '2019'){%> selected<% }%>>2019</option>
				<option value='2020' <%if(curr_tk_nam == '2020'){%> selected<% }%>>2020</option>
			</select>
			&nbsp;&nbsp;&nbsp;
			<label for="sltTimKiemTramBienAp">Trạm biếp áp</label>
			<select class="form-control" name='sltTimKiemTramBienAp'>
				<option value=''>--Tất cả--</option>
				<%
				if(tba.length > 0)
				{
					for(var j = 0; j < tba.length; j++)
					{
					%>
					<option value='<%=tba[j].matram%>' <%if(tba[j].matram == curr_tk_trambienap){%> selected<% }%>><%=tba[j].tentram%></option>
					<%
					}
				}
				%>
			</select>
			<br><br>
			<button type="submit" class='btn btn-info'>Thống kê</button>
		</form>
				<hr>
			<%-data%>
	</div>

		
	</div>
</div>
</div>
<%- include ../layouts/footer.ejs %>
