<%- include ../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Quản lý khách hàng > Danh sách khách hàng
	</div>
	<div class='panel-body'>
	<div id='alert-kh'>
	</div>
	<div>
		<div class="form-group has-feedback">
			<label class="control-label" for="inputSuccess2">Tìm kiếm khách hàng</label>
				<input type="text" class="form-control" id="txtTimKiemKhachHang" 
				placeholder="Nhập mã khách hàng hoặc họ tên khách hàng..." 
				aria-describedby="inputSuccess2Status"
				value='<%=curr_timkiem%>'>
				<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
			<span id="inputSuccess2Status" class="sr-only">(success)</span>
		</div>
		<div>
			<button id='export-kh' type="button" class='btn btn-success'>Xuất danh sách</button>
		</div>
		<br>
	</div>
	<form action='khachhang-edit' method="post">
	<div id='div-kh'>
	<table class="table table-bordered table-hover user-table">
			<thead>
				<tr class='success'>
					<td>STT</td>
					<td>Mã khách hàng</td>
					<td>Họ tên khách hàng</td>
					<td>Giới tính</td>
					<td>Ngày sinh</td>
					<td>Địa chỉ</td>
					<td>Số điện thoại</td>
					<td colspan="3">Thao tác</td>
					<td>Thêm CTD</td>
				</tr>
			</thead>
			<tbody>
				<% if(data.length) { var no = (curr_page - 1) * 5 + 1; for(var i =
				0; i < data.length; i++) { %>
				<tr>
					<td><%=no%></td>
					<td><%=data[i].makhachhang%></td>
					<td class='left-col-table'><%=data[i].hotenkh%></td>
						<td><%if(data[i].gioitinh == 1){
								%>Nam
								<%
						} else
						{
						%>
						Nữ
						<%
						}
						%></td>
						<td><%=getDate(data[i].ngaysinh)%></td>
						<td class='left-col-table'><%=data[i].diachi%></td>
						<td><%=data[i].sodienthoai%></td>
						<td>
						<%if(data[i].trangthai == 1)
						{
						%>
						<a class='btnAnKhachHang' href='javascript: void(0)'
								data-makh='<%=data[i].makhachhang%>'>Ngừng sử dụng</a>
						<%
						}
						else
						{
						%>
						<a class='btnHienKhachHang' href='javascript: void(0)'
								data-makh='<%=data[i].makhachhang%>'>Tiếp tục sử dụng</a>
						<%
						}%>
						
						</td>
						<td>
					<!--	<td>
						<a class='btnSuaKhachHang' href='javascript: void(0)'
								data-makh='<%=data[i].makhachhang%>'><span class='glyphicon glyphicon-pencil'></span></a>
						</td> -->
						<button name='<%=data[i].makhachhang%>' class='btn2' type='submit'><span class='glyphicon glyphicon-pencil'></span></button>
						</td>
						<td>
							<a class='btnXoaKhachHang' href='javascript: void(0)'
								data-makh='<%=data[i].makhachhang%>'
								data-hotenkh='<%=data[i].hotenkh%>'><span class='glyphicon glyphicon-remove'></span></a>
						</td>
						<td>
							<a class='btnThemCongToDienKH' href='javascript: void(0)'
								data-makh='<%=data[i].makhachhang%>'
								data-hotenkh='<%=data[i].hotenkh%>'><span class='glyphicon glyphicon-plus'></span></a>
						</td>
						
					</tr>
					<% no++; } 
					} else {%>
					<tr>
						<td class='left-col-table' colspan="8">Danh sách trống</td>
					</tr>
					<%} %>
				</tbody>
				<tfoot>
	
				</tfoot>
			</table>
			</div>
			</form>
			<%- pagination %>
	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-xoakhachhang" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Xác nhận xóa</h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
				<button type="button" id='btnXacNhanXoaKH' class="btn btn-warning"><span class='glyphicon glyphicon-ok'></span> Xóa</button>
			</div>
		</div>
	</div>
</div>
<%- include ../layouts/footer.ejs %>
