<%- include ../../../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Nhập số liệu điện năng tiêu thụ
	</div>
	<div class='panel-body'>
	<div id='alert-kh'>
	</div>
	<% if(data.length > 0)
	{%>
	<div class="alert alert-info">
		<b>Thông tin khách hàng:</b>
		<br>&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Mã khách hàng:&nbsp;&nbsp;&nbsp; <%=data[0].makhachhang%>
		<br>&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Họ tên:&nbsp;&nbsp;&nbsp; <%=data[0].hotenkh%>
		<br>&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Giới tính:&nbsp;&nbsp;&nbsp;<%if(data[0].gioitinh == 1){ %>Nam<%}else{%>Nữ<%}%>
		<br>&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Địa chỉ:&nbsp;&nbsp;&nbsp;<%=data[0].diachi%>
		<br>&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Số điện thoại:&nbsp;&nbsp;&nbsp;<%=data[0].sodienthoai%>
	</div>
	<div id='info-nhapsolieu'></div>
	<table class="table table-bordered table-hover user-table">
			<thead>
				<tr class='success'>
					<td>STT</td>
					<td>Mã hóa đơn</td>
					<td>Mã công tơ</td>
					<td>Chỉ số cũ</td>
					<td>Chỉ số mới</td>
					<td>Chỉ số thực thu</td>
					<td>Trạng thái</td>
					<td>Xác nhận</td>
				</tr>
			</thead>
			<tbody>
					<%
					for(var i = 0; i < data.length; i++)
					{ %>
						<tr class='color-tr' <%if(data[i].chisothucthu > 0){%> style="color : blue";<%}%>>
							<td><%=i+1%></td>
							<td><%='HD' + data[i].mahoadon%></td>
							<td><%=data[i].macongto%></td>
							<td><%=data[i].chisocu%></td>
							<td>
								<input style="text-align: center;" width="50%" type="text" class='form-control form-inline txtChiSoMoi' maxlength="5" value="<%=data[i].chisomoi%>" onkeypress=" return isNumberKey(event)">
								<input type="hidden" class='txtMaHoaDon' value='<%=data[i].mahoadon%>'>
								<input type="hidden" class='txtChiSoCu' value='<%=data[i].chisocu%>'>
								<input type="hidden" class='txtMaMucDich' value='<%=data[i].mamucdich%>'>
								<input type="hidden" class='txtMaCongTo' value='<%=data[i].macongto%>'>
							</td>
							
							<td><div class='div-ChiSoThucThu'><%=data[i].chisothucthu%></div></td>
							<td><div class='div-trangthai'>
								<%if(data[i].chisothucthu > 0){
									%>
									<span class='glyphicon glyphicon-ok'></span>
									<%	
								} else {
									%>
									<span class='glyphicon glyphicon-remove'></span>
									<%	
								}%>
							</div></td>
							<td><button class='btn btn-success btn-xacnhangui'><span class='glyphicon glyphicon-floppy-open'></span></button></td>
						</tr>
						<%
					}%>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
			<a href='/hoadon'> Xem hóa đơn</a>
					<%} else 
					{%>
					Chưa đến thời gian nhập số liệu hoặc bạn đã thanh toán hết hóa đơn. <a href='/hoadon'> Xem hóa đơn</a>
					<%}%>
	</div>
</div>
</div>
<%- include ../../../layouts/footer.ejs %>
