<%- include ../layouts/header.ejs %>
<div class='col-md-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Quản lý nhân viên > Danh sách nhân viên
	</div>
	<div class='panel-body'>
		<%if(session.info){%><div class='alert alert-success'><%=session.info%></div><% delete session.info}%>
	
		<div id='div-info'></div>
		<a href='/admin/nhanvien-them' class='btn btn-success' id='btnThemNhanVien'><span class='glyphicon glyphicon-plus'></span> Thêm nhân viên</a>
	<br><br>
	<form action='/admin/nhanvien-sua' method="post">
	<table class='table table-bordered table-hover user-table'>
		<thead>
			<tr class='success'>
				<td>Số thứ tự</td>
				<td>Mã nhân viên</td>
				<td>Họ tên</td>
				<td>Ngày sinh</td>
				<td>Giới tính</td>
				<td>Địa chỉ</td>
				<td>Số đt</td>
				<td>Email</td>
				<td>Phòng ban</td>
				<td colspan="2">Thao tác</td>
			</tr>
		</thead>
		<tbody>
			<% if(data.length > 0) { for(var i = 0; i < data.length;
			i++) { %>
			<tr>
				<td><%=i+1%></td>
				<td><%=data[i].manhanvien%></td>
				<td class='left-col-table'><%=data[i].hoten%></td>
				<td><%=getDate(data[i].ngaysinh)%></td>
				<td>
					<%if(data[i].gioitinh == 1)
						{ 
						%>
						Nam
						<%
						}
					else
						{
						%>
						Nữ
						<%
						}
						%>
				</td>
				<td class='left-col-table'><%=data[i].diachi%></td>
				<td><%=data[i].sodienthoai%></td>
				<td class='left-col-table'><%=data[i].email%></td>
				<td class='left-col-table'><%=data[i].tenphongban%></td>
				<td><button type="submit" name='<%=data[i].manhanvien%>' class='btn2'><span class='glyphicon glyphicon-pencil'></span></button></td>
				<td><button type='button' class='btn2 btnXoaNhanVien' data-manhanvien='<%=data[i].manhanvien%>' data-hoten='<%=data[i].hoten%>'><span class='glyphicon glyphicon-remove'></span></button></td>
			</tr>
			<% } } else { %>
			<tr>
				<td colspan='6'>Danh sách rỗng</td>
			</tr>
			<% } %>

		</tbody>
		<tfoot>
		</tfoot>
	</table>
	</form>
	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-xoanhanvien" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Xác nhận xóa</h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
				<button type="button" id='btnXacNhanXoaNV' class="btn btn-warning"><span class='glyphicon glyphicon-ok'></span> Xóa</button>
			</div>
		</div>
	</div>
</div>
<%- include ../layouts/footer.ejs %>
