<%- include ../layouts/header.ejs %>
<div class='col-md-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Quản lý nhân viên > Sửa thông tin nhân viên
	</div>
	<div class='panel-body'>
		<form>
			<div class="form-group">
				<label for="txtMaNhanVien">Mã nhân viên</label>
				<input type="text" class="form-control" id='txtMaNhanVien' readonly value='<%=data[0].manhanvien%>'>
			</div>
			<div class="form-group">
				<label for="txtHoTenNhanVien">Họ tên nhân viên</label>
				<input type="text" class="form-control" id='txtHoTenNhanVien' maxlength="25"  value='<%=data[0].hoten%>'>
				<div style="color: red" id='loi_hotennv'></div>
			</div>
			<div class='form-group'>
				<label for="sex">Giới tính</label>
				<br>
				<label class="radio-inline">
				<input type="radio" name="sex" id="sex" value="nam" <%if(data[0].gioitinh == 1){%> checked <%}%>> Nam
				</label>
				<label class="radio-inline">
				<input type="radio" name="sex" id="sex" value="nu" <%if(data[0].gioitinh == 0){%> checked <%}%>> Nữ
				</label>
			</div>
			<div class="form-group">
				<label for="txtNgaySinh">Ngày sinh</label>
				<input type="text" class="form-control" id='txtNgaySinh' maxlength="10" placeholder="Ngày/tháng/năm" value='<%=getDate(data[0].ngaysinh)%>'>
				<div style="color: red" id='loi-ngaysinh'></div>
			</div>
			<div class="form-group">
				<label for="txtDiaChi">Địa chỉ</label>
				<input type="text" class="form-control" id='txtDiaChi' maxlength="200" value='<%=data[0].diachi%>'>
				<div style="color: red" id='loi_diachi'></div>
			</div>
			<div class="form-group">
				<label for="txtSoDienThoai">Số điện thoại</label>
				<input type="text" class="form-control" id='txtSoDienThoai' maxlength="11" value='<%=data[0].sodienthoai%>'>
				<div style="color: red" id='loi_sodt'></div>
			</div>
			<div class="form-group">
				<label for="txtEmail">Email</label>
				<input type="text" class="form-control" id='txtEmail' maxlength="50" value='<%=data[0].email%>'>
				<div style="color: red" id='loi_email'></div>
			</div>
			<div class="form-group">
				<label for="txtPhongBan">Phòng ban</label>
				<select class='form-control' name='sltPhongBan' id='sltPhongBan'>
					<option value=''>- Chọn phòng ban -</option> <% if(phongban.length) {
					for(var i = 0; i < phongban.length; i++) { %>
					<option value='<%=phongban[i].maphongban%>' <%if(data[0].maphongban == phongban[i].maphongban){%> selected <%}%>><%=phongban[i].tenphongban%></option>
					<% } } %>
				</select>
				<div style="color: red" id='loi_phongban'></div>
			</div>
			<div class="form-group">
				<label for="txtQuyenSuDung">Quyền sử dụng</label><br>
					<%
					for(var j = 0; j < qsd.length; j++) { %>
					<div class="checkbox">
						<label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class='chkQuyenSuDung' type="checkbox" value='<%=qsd[j].maquyen%>' <%for(var k = 0; k < phanquyen.length; k++){ if(qsd[j].maquyen == phanquyen[k].maquyen){%> checked<% break;}}%>> <%=qsd[j].tenquyen%>
						</label>
					</div>
					<% } %>
				<div style="color: red" id='loi_quyensudung'></div>
			</div>
			<button class='btn btn-warning' type="button" id='btnLuuNhanVienSua'><span class='glyphicon glyphicon-floppy-save'></span> Lưu</button>
			<button class='btn btn-default'><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
		</form>
	</div>
</div>
</div>
<%- include ../layouts/footer.ejs %>
