<%- include ../layouts/header.ejs %>
<div class='col-md-9'>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			Thông tin nhân viên
		</div>
		<div class='panel-body'>
			<table class='table table-bordered table-hover'>
				<tr>
					<td>Mã nhân viên</td>
					<td><%=data[0].manhanvien%></td>
				</tr>
				<tr>
					<td>Họ tên nhân viên</td>
					<td><%=data[0].hoten%></td>
				</tr>
				<tr>
					<td>Giới tính</td>
					<td><%if(data[0].gioitinh == 1){
								%>
								Nam
								<%
						} else
						{
						%>
						Nữ
						<%
						}
						%></td>
				</tr>
				<tr>
					<td>Ngày sinh</td>
					<td><%=getDate(data[0].ngaysinh)%></td>
				</tr>
				<tr>
					<td>Địa chỉ</td>
					<td><%=data[0].diachi%></td>
				</tr>
				<tr>
					<td>Số điện thoại</td>
					<td><%=data[0].sodienthoai%></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><%=data[0].email%></td>
				</tr>
				<tr>
					<td>Phòng ban</td>
					<td><%=data[0].tenphongban%></td>
				</tr>
			</table>
		</div>
	</div>
	</div>
<%- include ../layouts/footer.ejs %>

			
