<%- include ../layouts/header.ejs %>
<div class='col-md-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Quản lý tin tức > Danh sách tin tức
	</div>
	<div class='panel-body'>
	<div id='alert'></div>
		<a href='/admin/tintuc-them' class='btn btn-success'><span class='glyphicon glyphicon-plus'></span> Thêm tin tức</a>
	<br><br>
	
	<form class='form-inline' role='form'>
	<div class="form-group">
		<label for="txtTimKiem">Tìm kiếm</label>
		<input type="text" class="form-control" id='txtTimKiem' value='<%= curr_timkiem%>'>
	</div>
	<a href='javascript: void(0)' id='btnTimKiem' class="btn btn-info"><span class='glyphicon glyphicon-search'></span> Tìm kiếm</a>
	</form>
	<p>
	<table class='table table-bordered table-hover'>
		<thead>
			<tr class='success'>
				<td>Số thứ tự</td>
				<td>Tiêu đề</td>
				<td>Tóm tắc</td>
				<td>Hình ảnh</td>
				<td>Ngày đăng</td>
				<td>Nhân vên đăng</td>
				<td>Thao tác</td>
			</tr>
		</thead>
		<tbody>
			<% if(tintuc.length > 0)
			{
			var no = (curr_page -1 ) * 5 + 1; 
			for(var i = 0; i < tintuc.length;i++) 
			{ %>
			<tr>
				<td><%=no%></td>
				<td><%=tintuc[i].tieude%></td>
				<td><%=tintuc[i].tomtac%></td>
				<td><img width="200" height="120" src='../uploads/<%=tintuc[i].anhtieude%>'></td>
				<td><%=tintuc[i].ngaydang%></td>
				<td><%=tintuc[i].hoten%></td>
				<td>
					<% if(tintuc[i].manhanvien == session.username_admin)
					{
						if(tintuc[i].trangthai == 1)
						{
							%>
							<a class='btnAn' href='javascript: void(0)' data-matt='<%=tintuc[i].matintuc%>' title='Ẩn tin tức'>Ẩn</a>
							<%
						}
						else
						{
							%>
							<a class='btnHien' href='javascript: void(0)' data-matt='<%=tintuc[i].matintuc%>' title='Hiện tin tức'>Hiện</a>
							<%
						}
						%>
						<a class='btnSua'  data-matt='<%=tintuc[i].matintuc%>' href='/admin/tintuc-sua?matt=<%=tintuc[i].matintuc%>' title='Sửa'>Sửa</a>
						<a class='btnXoa' href='javascript: void(0)' data-matt='<%=tintuc[i].matintuc%>' title='Xóa'>Xóa</a>
						<%
					}
					else
					{
					%>
					Không được thao tác
					<%
					}
					%>
				</td>
			</tr>
			<% 
			no++;
			} } else { %>
			<tr>
				<td colspan='9'>Danh sách rỗng</td>
			</tr>
			<% } %>

		</tbody>
		<tfoot>
		</tfoot>
	</table>
	<%- pagination %>
</div>
</div>
</div>
<%- include ../layouts/footer.ejs %>
