<%- include ../layouts/header.ejs %>
<div class='col-md-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Quản lý tin tức > Thêm tin tức
	</div>
	<div class='panel-body'>
	<form id='form-tintuc-them' method='POST' enctype='multipart/form-data' action='/admin/tintuc-them'>
		<div class="form-group">
			<label for="tieude">Tiêu đề</label>
			<input type="text" class="form-control" id='txtTieuDe' name='tieude' value = '<%=data_loi.tieude%>'>
			<div style="color: red"><%=data_loi.loi_tieude%></div>
		</div>
		<div class="form-group">
			<label for="tomtac">Tóm tắc</label>
			<textarea class="form-control" rows="2" id='txtTomTac' name='tomtac'><%=data_loi.tomtac%></textarea>
			<div style="color: red"><%=data_loi.loi_tomtac%></div>
		</div>
		<div class="form-group">
			<label for="noidung">Nội dung chi tiết</label>
			<textarea id='txtNoiDung' name="noidung" class="article_content"><%=data_loi.noidung%></textarea>
			<script>
				disableAutoInline = true;
				$(document).ready(function(){
					CKEDITOR.replace('noidung');
				});
			</script>
			<div style="color: red"><%=data_loi.loi_noidung%></div>
		</div>
		<div class="form-group">
			<label for="anh">Ảnh tiêu đề</label>
			<input type="file" name='anhtieude' accept='image/*'>
			<div style="color: red"><%=data_loi.loi_anhtieude%></div>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" name='trangthai' id='trangthai' <%if(data_loi.trangthai == true){%> checked <%}%>>Hiển thị
			</label>
		</div>
		<div class='form-group'>
			<button class='btn btn-warning' id='btnLuu' type='submit'><span class='glyphicon glyphicon-floppy-save'></span> Lưu</button>
			<button class='btn btn-default' id='btnHuy' type='reset'><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
		</div>
</form>
</div>
</div>
</div>
<%- include ../layouts/footer.ejs %>
