<%- include ../../../layouts/header.ejs %>
<div class='col-md-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Hướng dẫn sử dụng hệ thống
	</div>
	<div class='panel-body'>
		<% if(data.length > 0) 
			{ 
				for(var i = 0; i < data.length; i++) 
					{ %>
					<a href='/huongdansudung?id=<%=data[i].id%>'><%=data[i].ten%></a>
					<br>
					<% 
					}
					%>
				<hr>			
				<%
				if(rows)
				{
				%>
				<%-rows[0].noidung%>
				<%
				}
				else
				{
				%>
				<%- include ../tintuc/tintuc-bosung.ejs %>
				<%
				}
			}
			else
			 { %>
				<div class='alert alert-warning'>Chưa được cập nhật</div>
			<% } %>
	</div>
</div>
</div>
<%- include ../../../layouts/footer.ejs %>
