<%- include ../../../layouts/header.ejs %>
<div class='col-md-9'>
	<div class='panel panel-primary'>
	<div class='panel-heading tieudethongtinuser'>
		Tin tức chi tiết
	</div>
	<div class='panel-body thongtinuser'>
			<div class="row">
				<div class='col-md-3'>
					<img width='178' height='120' src='./uploads/<%=tintuc[0].anhtieude%>'>
				</div>
				<div calss='col-md-9' id='tt-tt'>
					<b><font color='#C24B13' size='3'><%=tintuc[0].tieude%></font></b>
					<br>
					<font color=''><b><%=tintuc[0].tomtac%></b></font>
				</div>
				<div class='col-md-12'>
				<hr>
					<div>
						<%-tintuc[0].noidung%>
					</div>
					<p>
						<font size="2">
							Được đăng bởi: <%=tintuc[0].hoten%> Ngày: <%=tintuc[0].ngaydang%>
						</font>
					</p>
					<hr>
					<div>
						<%if(tieudett.length > 0)
						{
							for(var j = 0; j < tieudett.length; j++)
							{
								%>
								<p>
									<a style="text-decoration:none" href='/home-tintuc-ct?matt=<%=tieudett[j].matintuc%>'><font size='3' color='#C24B13'><%=tieudett[j].tieude%></font></a>(<%=getDate(tieudett[j].ngaydang)%>)
								</p>
								<%
							}
						}%>
					</div>
				</div>
				<hr>
			</div>
	</div>
</div>
</div>
<%- include ../../../layouts/footer.ejs %>
