<%- include ../../../layouts/header.ejs %>
<div class='col-md-9'>
	<div class='panel panel-primary'>
		<div class='panel-heading tieudethongtinuser'>
			Tin tức
		</div>
	<div class='panel-body thongtinuser'>
	<%if(tintuc.length > 0)
	{
		for(var i = 0; i < tintuc.length; i++)
		{
			%>
			<div class="row">
				<div class='col-md-12'  id='cls-tieudett'>
					<a style="text-decoration:none" href='/home-tintuc-ct?matt=<%=tintuc[i].matintuc%>'><b><font color='#C24B13' size='3'><%=tintuc[i].tieude%></b></font></a>
				</div>
				<div class='col-md-3'>
					<img width='178' height='120' src='./uploads/<%=tintuc[i].anhtieude%>'>
				</div>
				<div class='col-md-9'>
					<p>
						<%if(curr_timkiem == '')
							{
							%>
							<%=tintuc[i].tomtac%></p>
							<%
							}
						else
						{
							var strThay = "<font color='#BC1313'><b>" + curr_timkiem + "</b></font>";
							var kq = replaceNoiDung(tintuc[i].tomtac,curr_timkiem,strThay);
							%>
							<%-kq%>
							<%
						}
						%>
					
					<p>
						<font size="2" color="929090">
							Được đăng bởi: <%=tintuc[i].hoten%> Ngày: <%=getDate(tintuc[i].ngaydang)%>
						</font>
					</p>
				</div>
				<hr>
			</div>
			<%
		}
		%>
		<hr>
		<%- pagination %>
		<%
	}
	else
	{
		%>
		Danh sách trống
		<%
	}%>
	
	</div>
	</div>
</div>
<%- include ../../../layouts/footer.ejs %>
