<%- include ../layouts/header.ejs %>
<div class='col-md-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Hướng dẫn sử dụng
	</div>
	<div class='panel-body'>
	 <ul>
	 	<li><a href='javascript: void(0)'><font size='4' color='#1F5584'>Khách hàng</font></a><br></li>
		<% if(data.length > 0) 
			{
			%>
				<ul>
			<%
				for(var i = 0; i < data.length; i++) 
					{ %>
					<li><a href='/admin-huongdansudung?id=<%=data[i].id%>'><%=data[i].ten%></a></li>
					<% 
					}
				%>
				</ul>
				<%
			}
			else
			{ %>
				<div class='alert alert-warning'>Chức năng chưa được cập nhật</div>
			<% } %>
			<li><a href='javascript: void(0)'><font size='4' color='#1F5584'>Nhân viên</font></a><br></li>
			<% if(data2.length > 0) 
			{
			%>
				<ul>
			<%
				for(var i = 0; i < data2.length; i++) 
					{ %>
					<li><a href='/admin-huongdansudung?id=<%=data2[i].id%>'><%=data2[i].ten%></a></li>
					<% 
					}
				%>
				</ul>
				<%
			}
			%>
		</ul>
		<hr>
		<%
			if(rows)
			{
			%>
			<%-rows[0].noidung%>
			<%
			}
			else
			{
			}
			%>
	</div>
</div>
</div>
<%- include ../layouts/footer.ejs %>
