<%- include ../../../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Hóa đơn
	</div>
	<div class='panel-body'>
	<%if(session.info){%><div class='alert alert-success'><%=session.info%></div><% delete session.info}%>
	
	<div id='alert-hoadon'>
	</div>
	<% if(hoadon.length > 0)
	{%>
		<div class="alert alert-info">
			<b>Thông tin khách hàng:</b>
			<br>  &nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Mã khách hàng: <%=hoadon[0].makhachhang%>
			<br>  &nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Họ tên: <%=hoadon[0].hotenkh%>
			<br>  &nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Giới tính: <%if(hoadon[0].gioitinh == 1){ %>Nam<%}else{%>Nữ<%}%>
			<br>  &nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Địa chỉ: <%=hoadon[0].diachi%>
			<br>  &nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;Số điện thoại: <%=hoadon[0].sodienthoai%>
		</div>
		<div class='panel panel-default'>
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Tìm kiếm hóa đơn
					</a>
				</h4>
			</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				<form action="" class='form-inline' method="get">
					<table>
						<tr>
							<td>
								<label for="txtTimKiemMaHoaDon">Mã HD</label>
								<input type="text" class="form-control" name="txtTimKiemMaHoaDon" maxlength="10" value='<%=curr_tk_mahoadon%>'>
							</td>
							<td>
								&nbsp;&nbsp;&nbsp;<label for="txtTimKiemMaCongTo">Mã công tơ</label>
								<input type="text" class="form-control" name="txtTimKiemMaCongTo" maxlength="10" value='<%=curr_tk_macongto%>'>
							</td>
							<td>
								&nbsp;&nbsp;&nbsp;<label for="sltTimKiemTrangThaiHD">Trạng thái HD</label>
								<select class="form-control" name='sltTimKiemTrangThaiHD'>
									<option value='' <%if(curr_tk_trangthaihd == ''){%> selected<% }%>>-- Tất cả --</option>
									<option value='1' <%if(curr_tk_trangthaihd == '1'){%> selected<% }%>>Đã thanh toán</option>
									<option value='0' <%if(curr_tk_trangthaihd == '0'){%> selected<% }%>>Chưa thanh toán</option>
								</select>
							</td>
						</tr>
						<tr>
							<td colspan="2">
							<br><b>Kỳ :</b>
								<label for="sltTimKiemThang">Tháng</label>
								<select class="form-control" name='sltTimKiemThang'>
									<option value='' <%if(curr_tk_thang == ''){%> selected<% }%>>-- Tất cả --</option>
									<option value='1' <%if(curr_tk_thang == '1'){%> selected<% }%>>1</option>
									<option value='2' <%if(curr_tk_thang == '2'){%> selected<% }%>>2</option>
									<option value='3' <%if(curr_tk_thang == '3'){%> selected<% }%>>3</option>
									<option value='4' <%if(curr_tk_thang == '4'){%> selected<% }%>>4</option>
									<option value='5' <%if(curr_tk_thang == '5'){%> selected<% }%>>5</option>
									<option value='6' <%if(curr_tk_thang == '6'){%> selected<% }%>>6</option>
									<option value='7' <%if(curr_tk_thang == '7'){%> selected<% }%>>7</option>
									<option value='8' <%if(curr_tk_thang == '8'){%> selected<% }%>>8</option>
									<option value='9' <%if(curr_tk_thang == '9'){%> selected<% }%>>9</option>
									<option value='10' <%if(curr_tk_thang == '10'){%> selected<% }%>>10</option>
									<option value='11' <%if(curr_tk_thang == '11'){%> selected<% }%>>11</option>
									<option value='12' <%if(curr_tk_thang == '12'){%> selected<% }%>>12</option>
								</select>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<label for="sltTimKiemNam">Năm</label>
								<select class="form-control" name='sltTimKiemNam'>
									<option value='' <%if(curr_tk_trangthaihd == ''){%> selected<% }%>>-- Tất cả --</option>
									<option value='2010' <%if(curr_tk_nam == '2010'){%> selected<% }%>>2010</option>
									<option value='2011' <%if(curr_tk_nam == '2011'){%> selected<% }%>>2011</option>
									<option value='2012' <%if(curr_tk_nam == '2012'){%> selected<% }%>>2012</option>
									<option value='2013' <%if(curr_tk_nam == '2013'){%> selected<% }%>>2013</option>
									<option value='2014' <%if(curr_tk_nam == '2014'){%> selected<% }%>>2014</option>
									<option value='2015' <%if(curr_tk_nam == '2015'){%> selected<% }%>>2015</option>
									<option value='2016' <%if(curr_tk_nam == '2016'){%> selected<% }%>>2016</option>
									<option value='2017' <%if(curr_tk_nam == '2017'){%> selected<% }%>>2017</option>
									<option value='2018' <%if(curr_tk_nam == '2018'){%> selected<% }%>>2018</option>
									<option value='2019' <%if(curr_tk_nam == '2019'){%> selected<% }%>>2019</option>
									<option value='2020' <%if(curr_tk_nam == '2020'){%> selected<% }%>>2020</option>
								</select>
							</td>
							<td>
								<br>
								<button class='btn btn-success' type="submit" id='btnTimKiemCTD'><span class='glyphicon glyphicon-search'></span> Tìm</button>
								<a href='/hoadon' class='btn btn-info' type="button" id='btnXoaKetQua'><span class='glyphicon glyphicon-remove'></span> Xóa kết quả</a>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		</div>
	<form action='/inhoadon' method='post'>
	<table class="table table-bordered table-hover user-table">
			<thead>
				<tr class='success'>
					<td>STT</td>
					<td>Chọn</td>
					<td>Mã công tơ</td>
					<td>Mã hóa đơn</td>
					<td>Từ ngày</td>
					<td>Đến ngày</td>
					<td>CSC</td>
					<td>CSM</td>
					<td>CSTT</td>
					<td>Thành tiền</td>
					<td>Thanh toán</td>
				</tr>
			</thead>
			<tbody>
					<%
					var no = (curr_page - 1) * 5 + 1;
					for(var i = 0; i < hoadon.length; i++)
					{ %>
						<tr  class='tr-mahoadon-'  data-mahoadon='<%=hoadon[i].mahoadon%>'>
							<td><%=no%></td>
							<td>
							<%
							if(hoadon[i].dathanhtoan == 1)
							{
							%>
								<input type="checkbox" class='chkChonHoaDon' name='chkChonHoaDon' value='<%=hoadon[i].mahoadon%>'>
								<input type="hidden" class='txtMaHoaDon' value='<%=hoadon[i].mahoadon%>'>
							<%
							}
							else
							{
							%>
							_
							<%
							}
							%>

							</td>
							<td><%=hoadon[i].macongto%></td>
							<td><%=hoadon[i].mahoadon%></td>
							<td><%=getDate(hoadon[i].tungay)%></td>
							<td><%=getDate(hoadon[i].denngay)%></td>
							<td><%=hoadon[i].chisocu%></td>
							<td><%=hoadon[i].chisomoi%></td>
							<td><%=hoadon[i].chisothucthu%></td>
							<td><%=format1(hoadon[i].tongthanhtoan, '')%></td>
							<td>
								<%if(hoadon[i].dathanhtoan == 0){%>
								<a class='btnThanhToanHoaDon' href='javascript: void(0)' data-mahoadon='<%=hoadon[i].mahoadon%>'>Thanh toán</a>
								<%}else{
									%>
									<%=getDate(hoadon[i].ngaythanhtoan)%>
									<%
								}%>
							</td>
						</tr>
						<% no++;
					}
					%>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
			<div class="checkbox">
				<label>
					<input type="checkbox" id='chkChonTatCa'> Chọn tất cả
				</label>
				<button class='btn2' id='btn-inhoadon-user-' type="submit">Xem hóa đơn</button>
			</div>
			
			</form>
			<%- pagination %>
			<%} else 
				{%>
				<div class='alert alert-warning'>Không có hóa đơn. <a href='/hoadon'>Trở lại</a></div>
				<%}%>
	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-xacnhanthanhtoan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Thông tin thanh toán</h4>
			</div>
			<div class="modal-body">
				<label for='sltTaiKhoan'>Tài khoản ngân hàng</label>
				<select id='sltTaiKhoan' name='sltTaiKhoan' class='form-control'>
					<option value=''>--Chọn tài khoản--</option>
					<option value='AGRIBANK'>Agribank</option>
					<option value='VIETINBANK'>Vietinbank</option>
					<option value='VIETCOMBANK'>Vietcombank</option>
					<option value='DONGA'>Đông á</option>
				</select>
				<div style="color: red" id='err-taikhoan'></div>
				<br>
				<label for='txtSoTaiKhoan'>Số tài khoản</label>
				<input class='form-control' id='txtSoTaiKhoan' maxlength="12">
				<div style="color: red" id='err-sotaikhoan'></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
				<button type="button" id='btnXacNhanXoaNV' class="btn btn-warning btn-thanhtoan-hd-user"><span class='glyphicon glyphicon-ok'></span> Xác nhận</button>
			</div>
		</div>
	</div>
</div>
<%- include ../../../layouts/footer.ejs %>
