<%- include ../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Quản lý công tơ điện  > Sửa thông tin công tơ điện
	</div>
	<div class='panel-body'>
		<form action="form-congtodien-them">
			<div class="form-group">
				<label for="txtMaCongToDien">Mã công tơ điện</label>
				<input type="text" class="form-control read-only back-read-only" name="txtMaCongToDien" id='txtMaCongToDien' maxlength="10" size='10' value='<%=data[0].macongto%>'>
			</div>
			<p>
			<div class="form-group">
				<label for="sltMaTram">Mã trạm biến áp</label>
				<select id='sltMaTram' class='form-control'>
					<option value=''>--Chọn trạm biến áp--</option>
					<%
					if(tba.length > 0)
						{
						for(var i = 0; i < tba.length; i++)
							{
							%>
							<option value='<%=tba[i].matram%>' <%if(data[0].matram == tba[i].matram){ %> selected<%}%>><%=tba[i].tentram%></option>
							<%
							}
						}
					%>
				</select>
				<div style="color: red;" id='loi-trambienap'></div>
			</div>
			<div class='form-group'>
				<label for='sltMaMucDich'>Mục đích sử dụng</label>
				<select class='form-control' id='sltMaMucDich'>
					<option value=''>--Chọn mục đích sử dụng--</option>
					<%
					if(mucdichsd.length > 0)
						{
						for(var j = 0; j < mucdichsd.length; j++)
							{
							%>
							<option value='<%=mucdichsd[j].mamucdich%>' <%if(data[0].mamucdich == mucdichsd[j].mamucdich){%> selected<%}%>><%=mucdichsd[j].tennhom + ' - ' + mucdichsd[j].mucdich%></option>
							<%
							}
						}
					%>
				</select>
				<div style="color: red;" id='loi-mucdichsd'></div>
			</div>
			<div class="form-group">
				<label for="txtChiSoCot">Chỉ số trụ điện</label>
				<input type="text" class="form-control" name="txtChiSoCot" id='txtChiSoCot' maxlength="10" value='<%=data[0].chisocot%>'>
				<div style="color: red;" id='loi-chisocot'></div>
			</div>
			<div class="form-group">
				<label for="txtChiSoHienTai">Chỉ số hiện tại</label>
				<input onkeypress=" return isNumberKey(event)" type="text" class="form-control not-paste" name="txtChiSoHienTai" id='txtChiSoHienTai' maxlength="4" value='<%=data[0].chisomoinhat%>'>
				<div style="color: red;" id='loi-chisohientai'></div>
			</div>
			<button type="button" id='btnLuuCongToDienSua' class="btn btn-warning"><span class='glyphicon glyphicon-floppy-save'></span> Lưu</button>
			<button type="button" id='huy' class="btn btn-default"><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
		</form>
	</div>
</div>
</div>

<%- include ../layouts/footer.ejs %>
