<%- include ../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Quản công tơ điện > Danh sách công tơ điện
	</div>
	<div class='panel-body'>
		<%if(session.info){%><div class='alert alert-success'><%=session.info%></div><% delete session.info}%>
	<div id='alert-congtodien'>
	</div>
	<a href='/admin/congtodien-them' class='btn btn-success' id='btnThemPhongBan'><span class='glyphicon glyphicon-plus'></span> Thêm công tơ điện</a>
	<br><br>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					Tìm kiếm
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				<form action="" class='form-inline' method="get">
					<table>
						<tr>
							<td>
								<div class="form-group">
									<label for="txtTimKiemMaCongTo">Mã công tơ</label>
									<input type="text" class="form-control" name="txtTimKiemMaCongTo" maxlength="10" value='<%=curr_tk_macongto%>'>
								</div>
								&nbsp;&nbsp;&nbsp;
								<br>
							</td>
							<td>
								<div class="form-group">
									<label for="txtTimKiemHoTenKH">Họ tên khách hàng</label>
									<input type="text" class="form-control" name="txtTimKiemHoTenKH" maxlength="50"  value='<%=curr_tk_hotenkh%>'>
								</div>
								&nbsp;&nbsp;&nbsp;
								<br>
							</td>
						</tr>
						<tr>
							<td>
								<br>
								<label for="sltTimKiemTramBienAp">Trạm biếp áp</label>
								<select class="form-control" name='sltTimKiemTramBienAp'>
									<option value=''>--Tất cả--</option>
									<%
									if(tba.length > 0)
									{
										for(var j = 0; j < tba.length; j++)
										{
										%>
										<option value='<%=tba[j].matram%>' <%if(tba[j].matram == curr_tk_trambienap){%> selected<% }%>><%=tba[j].tentram%></option>
										<%
										}
									}
									%>
								</select>
								&nbsp;&nbsp;&nbsp;
							</td>
							<td>
								<br>
								<label for="sltTimKiemTrangThai">Trạng thái</label>
								<select class="form-control" name='sltTimKiemTrangThai'>
									<option value=''  <%if(curr_tk_trangthai == ''){%> selected<% }%>>--Tất cả--</option>
									<option value='1'  <%if(curr_tk_trangthai == '1'){%> selected<% }%>>Đang sử dụng</option>
									<option value='0'  <%if(curr_tk_trangthai == '0'){%> selected<% }%>>Đã ngừng sử dụng</option>
								</select>
								&nbsp;&nbsp;&nbsp;
							</td>
							
						</tr>
								
					</table>
					<br>
					<button class='btn btn-success' type="submit" id='btnTimKiemCTD'><span class='glyphicon glyphicon-search'></span> Tìm</button>
					<a href='/admin/congtodien' class='btn btn-info' type="button" id='btnXoaKetQua'><span class='glyphicon glyphicon-remove'></span> Xóa kết quả</a>
				</form>
			</div>
		</div>
	</div>
	</div>
	<form action='congtodien-sua' method='post'>
	<table class="table table-bordered table-hover user-table">
			<thead>
				<tr class='success'>
					<td>STT</td>
					<td>Mã công tơ</td>
					<td>Chỉ số trụ điện</td>
					<td>Chỉ số hiện tại</td>
					<td>Tên khách hàng</td>
					<td>Mục đích sử dụng</td>
					<td>Trạm biến áp</td>
					<td colspan="3">Thao tác</td>
				</tr>
			</thead>
			<tbody>
				<% if(congtodien.length) 
				{ 
				var no = (curr_page - 1) * 5 + 1; 
				for(var i = 0; i < congtodien.length; i++) 
				{ 
				%>
				<tr>
					<td><%=no%></td>
					<td><%=congtodien[i].macongto%></td>
					<td><%=congtodien[i].chisocot%></td>
						<td><%=congtodien[i].chisomoinhat%></td>
						<td class='left-col-table'><%=congtodien[i].hotenkh%></td>
						<td class='left-col-table'><%-congtodien[i].tennhom + '<br>' + congtodien[i].mucdich%></td>
						<td class='left-col-table'><%=congtodien[i].tentram%></td>
						<td>
						<%if(congtodien[i].trangthai == 1)
						{
						%>
						<a class='btnAnCongToDien' href='javascript: void(0)'
								data-macongto='<%=congtodien[i].macongto%>'>Ngừng sử dụng</a>
						<%
						} else
						{
						%>
						<a class='btnHienCongToDien' href='javascript: void(0)'
								data-macongto='<%=congtodien[i].macongto%>'>Tiếp tục sử dụng</a>
						<%
						}%>
						</td>
						<td>
						<button name='<%=congtodien[i].macongto%>' class='btn2' type='submit'><span class='glyphicon glyphicon-pencil'></span></button>
						</td>
						<td>
						<a class='btnXoaCongToDien' href='javascript: void(0)'
								data-macongto='<%=congtodien[i].macongto%>'><span class='glyphicon glyphicon-remove'></span></a>
						</td>
						
					</tr>
					<% no++; } } else {%>
					<tr>
						<td class='left-col-table' colspan="8">Danh sách trống</td>
					</tr>
					<%} %>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
			</form>
			<%- pagination %>
	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-xoacongtodien" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Xác nhận xóa</h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
				<button type="button" id='btnXacNhanXoaCongToDien' class="btn btn-warning"><span class='glyphicon glyphicon-ok'></span> Xóa</button>
			</div>
		</div>
	</div>
</div>
<%- include ../layouts/footer.ejs %>
