<%- include ../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Quản lý công tơ điện  > Thêm công tơ điện
	</div>
	<div class='panel-body'>
		<form action="form-congtodien-them">
				<div align="center">
					<b><font color="blue">Phần thông tin công tơ điện</font></b>
				</div>
			<div class="form-group">
				<label for="txtMaCongToDien">Mã công tơ điện</label>
				<input type="text" class="form-control read-only back-read-only" name="txtMaCongToDien" id='txtMaCongToDien' maxlength="10" size='10' value='<%=macongto%>'>
			</div>
			<p>
			<div class="form-group">
				<label for="sltMaTram">Mã trạm biến áp</label>
				<select id='sltMaTram' class='form-control'>
					<option value=''>--Chọn trạm biến áp--</option>
					<%
					if(tba.length > 0)
						{
						for(var i = 0; i < tba.length; i++)
							{
							%>
							<option value='<%=tba[i].matram%>'><%=tba[i].tentram%></option>
							<%
							}
						}
					%>
				</select>
				<div style="color: red;" id='loi-trambienap'></div>
			</div>
			<div class='form-group'>
				<label for='sltMaMucDich'>Mục đích sử dụng</label>
				<select class='form-control' id='sltMaMucDich'>
					<option value=''>--Chọn mục đích sử dụng--</option>
					<%
					if(mucdichsd.length > 0)
						{
						for(var j = 0; j < mucdichsd.length; j++)
							{
							%>
							<option value='<%=mucdichsd[j].mamucdich%>'><%=mucdichsd[j].tennhom + ' - ' + mucdichsd[j].mucdich%></option>
							<%
							}
						}
					%>
				</select>
				<div style="color: red;" id='loi-mucdichsd'></div>
			</div>
			<div class="form-group">
				<label for="txtChiSoCot">Chỉ số trụ điện</label>
				<input type="text" class="form-control" name="txtChiSoCot" id='txtChiSoCot' maxlength="10">
				<div style="color: red;" id='loi-chisocot'></div>
			</div>
			<div class="form-group">
				<label for="txtChiSoHienTai">Chỉ số hiện tại</label>
				<input onkeypress=" return isNumberKey(event)" type="text" class="form-control not-paste" name="txtChiSoHienTai" id='txtChiSoHienTai' maxlength="4" value="0">
				<div style="color: red;" id='loi-chisohientai'></div>
			</div>
			<div align="center">
					<b><font color="blue">Phần thông tin khách hàng</font></b>
					<div class="checkbox">
						<label>
							<input type="checkbox" id='chkKhachHangCu'>Khách hàng cũ
						</label>
					</div>
				</div>
			<div id='div-kh'>
				<div class="form-group">
					<label for="txtMaKhachHang">Mã khách hàng</label>
					<input type="text" class="form-control  read-only back-read-only" name="txtMaKhachHang" id='txtMaKhachHang' maxlength="10" value='<%=makhachhang%>'>
				</div>
				<div class="form-group">
					<label for="txtHoTenKH">Họ tên khách hàng</label>
					<input type="text" class="form-control not-paste" name="txtHoTenKH" id='txtHoTenKH' maxlength="50" onkeypress="return isKT(event);">
					<div style="color: red;" id='loi-hotenkh'></div>
				</div>
				<div calss='form-group'>
					<b>Giới tính</b><br>
					<label class="radio-inline">
						<input type="radio" name="optionsRadios" id="rdoNam" value="option1" checked>
						Nam
					</label>
					<label class="radio-inline">
						<input type="radio" name="optionsRadios" id="rdoNu" value="option2">
						Nữ
					</label>
					<br>
				</div>
				<div class="form-group">
					<label for="txtNgaySinh">Ngày sinh</label>
					<input type="text" class="form-control" name="txtNgaySinh" id='txtNgaySinh' maxlength="10" placeholder="ngày/tháng/năm">
					<div style="color: red;" id='loi-ngaysinh'></div>
				</div>
				<div class="form-group">
					<label for="txtDiaChi">Địa chỉ</label>
					<input type="text" class="form-control" name="txtDiaChi" id='txtDiaChi' maxlength="200">
					<div style="color: red;" id='loi-diachi'></div>
				</div>
				<div class="form-group">
					<label for="txtSoDienThoai">Số điện thoại</label>
					<input type="text" class="form-control not-paste" name="txtSoDienThoai" id='txtSoDienThoai' maxlength="11" onkeypress=" return isSDT(event)">
					<div style="color: red;" id='loi-sodt'></div>
				</div>
				<div class="form-group">
					<label for="txtMatKhau">Mật khẩu</label>
					<input type="text" class="form-control read-only back-read-only" name="txtMatKhau" id='txtMatKhau' maxlength="10" value='<%=makhachhang%>'>
				</div>
			</div>
			<button type="button" id='btnLuuCongToDien' class="btn btn-warning"><span class='glyphicon glyphicon-floppy-save'></span> Lưu</button>
			<button type="button" id='huy' class="btn btn-default"><span class='glyphicon glyphicon-remove-sign'></span> Hủy</button>
		</form>
	</div>
</div>
</div>

<%- include ../layouts/footer.ejs %>
