<%- include ../layouts/header.ejs %>
<div class='col-md-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Danh sách phòng ban
	</div>
	<div class='panel-body'>
		<a href='/admin/phongban-them' class='btn btn-success' id='btnThemPhongBan'><span class='glyphicon glyphicon-plus'></span> Thêm phòng ban</a>
	<br><br>
	<table class='table table-bordered table-hover user-table'>
		<thead>
			<tr class='success'>
				<td>Số thứ tự</td>
				<td class='left-col-table'>Tên phòng ban</td>
				<td>Ngày thành lập</td>
				<td>Trạng thái</td>
				<td>Sửa</td>
				<td>Xóa</td>
			</tr>
		</thead>
		<tbody>
			<% if(phongban.length > 0) { for(var i = 0; i < phongban.length;
			i++) { %>
			<tr>
				<td><%=i+1%></td>
				<td class='left-col-table'><%=phongban[i].tenphongban%></td>
				<td><%=phongban[i].ngaythanhlap%></td>
				<td>
					<%if(phongban[i].trangthai == 1)
						{ 
						%>
						<a href='' class='btnAnPb' data-maphongban='<%=phongban[i].maphongban%>'>Ẩn</a>
						<%
						}
					else
						{
						%>
						<a href='' class='btnHienPb' data-maphongban='<%=phongban[i].maphongban%>'>Hiện</a>
						<%
						}
						%>
				
				</td>
				<td><a class='btnSuaPb' data-maphongban='<%=phongban[i].maphongban%>' href='#'><img src='../images/user/user-edit.png'></a></td>
				<td><a class='btnXoaPb' data-maphongban='<%=phongban[i].maphongban%>' href='#'><img src='../images/user/delete-user.png'></a></td>
			</tr>
			<% } } else { %>
			<tr>
				<td colspan='6'>Danh sách rỗng</td>
			</tr>
			<% } %>

		</tbody>
		<tfoot>
		</tfoot>
	</table>
	</div>
</div>
</div>
<%- include ../layouts/footer.ejs %>
