<%- include ../../../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Hỏi và đáp
	</div>
	<div class='panel-body'>
	<%if(session.info){%><div class='alert alert-success'><%=session.info%></div><% delete session.info}%>
		<% if(data.length) 
				{ 
				var no = (curr_page - 1) * 5 + 1;
				for(var i = 0; i < data.length; i++)
				{ %>
				<div>
					<div class='row'>
						<div class='col-md-1'>
							<img alt="" src="./images/user/question.jpg" width="50" height="50">
						</div>
						<div class='col-md-11'>
							<b><%=data[i].noidung%></b>
							<br>
							Khách hàng: <%=data[i].hotenkh%>, ngày: <%=getDate(data[i].ngaydang)%>
							<br>
						</div>
					</div>
					<%if(data[i].datraloi == 1){%>
					<div class='alert alert-info'>
						<b>Trả lời:<br></b>
						<%=data[i].noidungtraloi%>
						<br>
						<font size="2"><b>Ngày trả lời: <%=getDate(data[i].ngaytraloi)%><br>Nhân viên: <%=data[i].hoten%></b></font>
					</div>
					<%} else{
					%>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class='alert alert-danger'><b>Chưa trả lời</b></div>
					<%
					}%>
				</div>
					<% no++;} 
					} else {%>
						<div>Danh sách trống</div>
					<%} %>
					<br>
			<%- pagination %>
			<%if(session.username)
				{%>
				<div class='alert' style="background-color: #f2f2f2">
				Gủi ý kiến phản hồi<div id='sl'></div>
				<div class='row'>
					<div class='col-md-2'>
						<img alt="" src="./images/user/user-ykien.png" width="96" height="96">
					</div>
					<div class='col-md-10'>
						<textarea id='txtYKien' class='form-control' rows="3" placeholder="Ý kiến, bình luận"></textarea>
						<div style="color: red" id='err-ykien'></div>
						<br>
						<button id='btnGuiYKien' class='btn btn-warning'><span class='glyphicon glyphicon-floppy-open'></span> Gửi</button>
					</div>
				</div>
				</div>
				<%}
			else
			{%>
			<br>
			Đăng nhập để gửi ý kiến
			<%}%>
			
		</div>
	</div>
</div>

<%- include ../../../layouts/footer.ejs %>
