<%- include ../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Nhập số liệu điện năng tiêu thụ
	</div>
	<div class='panel-body'>
	<div id='alert-kh'>
	</div>

				<% if(data.length)
					{
					%>
						<table class="table table-bordered table-hover user-table">
							<thead>
								<tr class='success'>
									<td>STT</td>
									<td>Mã hóa đơn</td>
									<td>Mã công tơ</td>
									<td>Họ tên khách hàng</td>
									<td>Chỉ số cũ</td>
									<td>Chỉ số mới</td>
									<td>Chỉ số thực thu</td>
									<td>Trạng thái</td>
								</tr>
							</thead>
							<tbody>
					<%
					var no = (curr_page - 1) * 5 + 1;
					for(var i = 0; i < data.length; i++)
					{ %>
						<tr class='color-tr' <%if(data[i].chisothucthu > 0){%> style="color : blue";<%}%>>
							<td><%=no%></td>
							<td><%=data[i].mahoadon%></td>
							<td><%=data[i].macongto%></td>
							<td class='left-col-table'><%=data[i].hotenkh%></td>
							<td><%=data[i].chisocu%></td>
							<td>
								<input style="text-align: center;" width="50%" type="text" class='form-control txtChiSoMoi' maxlength="5" value="<%=data[i].chisomoi%>" onkeypress=" return isNumberKey(event)">
								<input type="hidden" class='txtMaHoaDon' value='<%=data[i].mahoadon%>'>
								<input type="hidden" class='txtChiSoCu' value='<%=data[i].chisocu%>'>
								<input type="hidden" class='txtMaMucDich' value='<%=data[i].mamucdich%>'>
								<input type="hidden" class='txtMaCongTo' value='<%=data[i].macongto%>'>
							</td>
							
							<td><div class='div-ChiSoThucThu'><%=data[i].chisothucthu%></div></td>
							<td><div class='div-trangthai'>
								<%if(data[i].chisothucthu > 0){
									%>
									<span class='glyphicon glyphicon-ok'></span>
									<%	
								} else {
									%>
									<span class='glyphicon glyphicon-remove'></span>
									<%	
								}%>
							</div></td>
						
						<% no++;
					}
					%>
					</tr>
					</tbody>
			</table>
					<%
					} else 
					{%>
						<div class='alert alert-warning'>Chưa tới thời gian nhập số liệu</div>
					<%}%>

			<%- pagination %>
	</div>
</div>
</div>
<%- include ../layouts/footer.ejs %>
