<%- include ../../../layouts/header.ejs %>
<div class='col-md-9'>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Danh sách trạm biến áp
	</div>
	<div class='panel-body'>
	<table class='table table-bordered table-hover user-table'>
		<thead>
			<tr class='success'>
				<td>Số thứ tự</td>
				<td class='left-col-table'>Tên trạm</td>
				<td>Ghi chú</td>
			</tr>
		</thead>
		<tbody>
			<% if(tba.length > 0) { for(var i = 0; i < tba.length;
			i++) { %>
			<tr>
				<td><%=i+1%></td>
				<td class='left-col-table'><%=tba[i].tentram%></td>
				<td class='left-col-table'><%if(tba[i].ghichu === null){%>_<%} else {%><%=tba[i].ghichu%><%} %></td>
			</tr>
			<% } } else { %>
			<tr>
				<td colspan='6'>Danh sách rỗng</td>
			</tr>
			<% } %>

		</tbody>
		<tfoot>
		</tfoot>
	</table>
	<%- include ../tintuc/tintuc-bosung.ejs %>
	</div>
</div>
</div>
<%- include ../../../layouts/footer.ejs %>
