<%- include ../../../layouts/header.ejs %>
<div class='col-md-9'>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			Thông tin khách hàng
		</div>
		<div class='panel-body'>
			<table class='table table-bordered table-hover'>
				<tr>
					<td>Mã khách hàng</td>
					<td><%=khachhang[0].makhachhang%></td>
				</tr>
				<tr>
					<td>Họ tên khách hàng</td>
					<td><%=khachhang[0].hotenkh%></td>
				</tr>
				<tr>
					<td>Giới tính</td>
					<td><%if(khachhang[0].gioitinh == 1){
								%>Nam
								<%
						} else
						{
						%>
						Nữ
						<%
						}
						%></td>
				</tr>
				<tr>
					<td>Ngày sinh</td>
					<td><%=getDate(khachhang[0].ngaysinh)%></td>
				</tr>
				<tr>
					<td>Địa chỉ</td>
					<td><%=khachhang[0].diachi%></td>
				</tr>
				<tr>
					<td>Số điện thoại</td>
					<td><%=khachhang[0].sodienthoai%></td>
				</tr>
			</table>
			<%- include ../tintuc/tintuc-bosung.ejs %>
		</div>
	</div>
	</div>
<%- include ../../../layouts/footer.ejs %>

			
