<%- include ../layouts/header.ejs %>
<div class="col-md-9">
<div class='panel panel-primary'>
	<div class='panel-heading'>
		Mục đích sử dụng > Sửa mục đích sử dụng
	</div>
	<div class='panel-body'>
		<form action="form-mucdichsudung-them">
			<table align="center">
				<tr>
					<td>
						<div class="form-group col-md-12">
							<label for="txtMucDich">Mục đích sử dụng</label>
							<input type="hidden" value='<%=mucdichsd[0].mamucdich%>' id='txtMaMucDich'>
							<input type="text" class="form-control" name="txtMucDich" id='txtMucDich' maxlength="50" value='<%=mucdichsd[0].mucdich%>'>
							<div id='loi-mucdichsd' style="color:red;"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group col-md-12">
							<label for='sltMaNhomMDSD'>Nhóm mục đích sử dụng</label>
							<select class='form-control' id='sltMaNhomMDSH' name='sltMaNhomMDSH'>
								<option value=''>--Chọn nhóm mục đích sử dụng--</option>
								<%if(nhommdsd.length > 0)
								{
									for(var i = 0; i < nhommdsd.length; i++)
									{
									%>
									<option value='<%=nhommdsd[i].manhommdsd%>' <%if(nhommdsd[i].manhommdsd == mucdichsd[0].manhommdsd){%> selected<%}%>><%=nhommdsd[i].tennhom%></option>
									<%
									}
								}%>
							</select>
							<div id='loi-nhommdsd' style="color:red;"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group col-md-9">
							<label for="txtThue">Thuế(%)</label>
							<input type="text" class="form-control not-paste" name="txtThue" id='txtThue' maxlength="2" onkeypress=" return isNumberKey(event)"  value='<%=mucdichsd[0].thue%>'>
							<div id='loi-thue' style="color:red;"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						
						<div id='giadien' class='col-md-12'>
						<b>Giá điện</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript: void(0)' id='btnThemMuc-Sua' type='button'><span class='glyphicon glyphicon-plus'> </span> Thêm mức giá</a>
						<br>
						<br>
							<table id='table-giadien' align="center" class='table table-hover table-bordered'>
								<tr>
									<td align="center"><b>Bậc</b></td>
									<td align="center"><b>Chỉ số đầu</b></td>
									<td align="center"><b>Chỉ số cuối</b></td>
									<td align="center"><b>Giá</b></td>
									<td align="center"><b>Xóa</b></td>
								</tr>
								<%
								for(var i = 0; i < mucdichsd.length; i++)
								{
									var csd = 1;
									if(mucdichsd[i].chisodau != 0)
									{
										csd = mucdichsd[i].chisodau;
									}
									%>
									<tr>
									<td align="center">
										<div class='bac'><b>Bậc <%=i+1%>&nbsp&nbsp&nbsp&nbsp</b></div>
									</td>
									<td>
										<input type='text' class='form-control txtChiSoDau not-paste' name='txtChiSoDau' maxlength='4' style="text-align: center;" onkeypress=" return isNumberKey(event)" value='<%=csd%>'>
									</td>
									<td>
										<input type='text' class='form-control txtChiSoCuoi not-paste' name='txtChiSoCuoi' maxlength='4' style="text-align: center;" onkeypress=" return isNumberKey(event)" value='<%=mucdichsd[i].chisocuoi%>'>
									</td>
									<td>
										<input type='text' class='form-control txtGiaDien not-paste' name='txtGiaDien' maxlength='4' style="text-align: center;" onkeypress=" return isNumberKey(event)" value='<%=mucdichsd[i].dongiahientai%>'>
									</td>
									<td>
										<button type='button' class='btn btn-default xoaGiaBacThang-Sua'><span class='glyphicon glyphicon-remove'></span></button>
									</td>
								</tr>
									<%
								}
								%>
							</table>
							<div id='loi_giabacthang' style='color : red;'></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<br>
						<button type="button" id='btnLuuMucDichSuDung-Sua' class="btn btn-warning"><span class='glyphicon glyphicon-floppy-save'></span> Lưu</button>
						<a href='/admin/mucdichsudung' type="button" class="btn btn-default"><span class='glyphicon glyphicon-remove'></span> Hủy</a>
					</td>
				</tr>
			</table>
		</form>
</div>
</div>
<%- include ../layouts/footer.ejs %>
